<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<br>
<br>
<body>
<table class="tablepie">
  <footer class="footer-32892 pb-0">
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md pr-md-5 mb-4 mb-md-0">
            <h3>Sobre Nosotros</h3>
            <p class="mb-4">
              Somos una empresa de software con servicios de consultoría, cursos de programación,
              desarrollo software , aplicaciones corporativas, integración de sistemas y software empresarial.
            </p>
            <ul class="list-unstyled quick-info mb-4">
              <li>
                <a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span> +1 291 3912
                  329</a>
              </li>
              <li>
                <a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-envelope"></span>
                  cjava@gmail.com</a>
              </li>
            </ul>

            <form action="#" class="subscribe">
              <input type="text" class="form-control" placeholder="Ingrese su correo" />
              <input type="submit" class="btn btn-submit" value="Enviar" />
            </form>
          </div>

          <div class="col-12">
            <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
              <ul class="list-unstyled footer-menu mr-auto">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</table>
</body>

</html>